body{
    background: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-size: cover;
    background-attachment:fixed;
    overflow-x: hidden;
}

nav{
    display: flex;
    width: 97%;
    margin: 25px;
    justify-content: space-between;
    background-color: lightblue;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 35px 20px;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 180%;
}

nav ul li a:hover{
    color: rgb(216, 133, 8);
}

.info{
    margin-top: 10%;
    margin-left: 11%;
    font-size: 36px;
}
.info1{
    margin-top: 28px;
    margin-left: 11%;
    font-size: 36px;
    color: white;
}

h2{
    font-size: 50px;
    color: rgb(9, 163, 9);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 11%;
}

span{
    color: rgba(219, 33, 8, 0.856);
}

.image{
    position: absolute;
    top: 275px;
    left: 960px;
    height: 300px;
    width: auto;
    border-radius: 25%;
}

h1{
    position: relative;
    left: 250px;
    top: 60px;
    font-size: 60px;
    font-family: sans-serif;
}
.box{
    position: relative;
    top: 81px;
    left: 100px;
    border: 2px solid white;
    background-color: white;
    width: 400px;
    height: 80px;
    font-size: 35px;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 20px;
}

.box1{
    position: absolute;
    top: 900px;
    left: 850px;
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 50%;
}

.info2{
    position: relative;
    bottom: 1px;
    left: 50px;
    font-size: 60px;
    font-family: sans-serif;
}

.content{
    width: 45%;
    position: absolute;
    left: 50%;
    top: 1px;
    font-size: 35px;
}
.info3{
    background-color: white;
    height: 110px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(235, 165, 35);
}
.info4{
    font-size: 27px;
    color: rgb(15, 84, 211);
}

.down{
    position:relative;
    top: 300px;
    height: 700px;
    background: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-size: cover;
}

.bottom{
    background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.2.2100817365.1641081600);
    width: 1200px;
    background-size: cover;
    position: relative;
    top: 360px;
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 80px;
    border-radius: 5px;
}
.format{
    width: 370px;
    height: 27px;
    font-size: 22px;
    font-family: sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: white;
}

button{
    width: 200px;
    height: 55px;
    font-size: 35px;
    margin-top: 40px;
    font-family: sans-serif;
    margin-left: 200px;
    border-radius: 5px;
}

.gap{
    height: 80px;
    position: relative;
    top: 250px;
}